name: Build binaries

on: push

jobs:
  build-win:
    runs-on: windows-latest
    
    defaults:
      run:
        shell: bash

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v3

      - name: "Compile binary"
        run: |
          cmake -S . -B build -G Ninja
          cmake --build build

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v3

      - name: "Compile binary"
        run: |
          cmake -S . -B build -G Ninja
          cmake --build build

  build-mac:
    runs-on: macos-latest

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v3

      - name: "Compile binary"
        run: |
          cmake -S . -B build -G Ninja
          cmake --build build
