name: Build binaries

on: push

jobs:
  build-win:
    runs-on: windows-latest
    
    defaults:
      run:
        shell: bash

    steps:
      - name: "Compile binary"
        run: |
          cd ${{ github.repository }}
          gcc -shared -I webrtc -D WEBRTC_WIN -o webrtcvad.dll exports.c

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: "Compile binary"
        run: |
          cd ${{ github.repository }}
          gcc -shared -I webrtc -o libwebrtcvad.so exports.c

  build-mac:
    runs-on: macos-latest

    steps:
      - name: "Compile binary"
        run: |
          cd ${{ github.repository }}
          gcc -shared -I webrtc -o webrtcvad.dylib exports.c
